<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>

      <ion-card-title>Your location provided by Mauron85</ion-card-title>
    </ion-card-header>
  
    <ion-card-content *ngIf="userInfo.latitude">
      <ion-chip>
        <ion-icon name="pin"></ion-icon>
        <ion-label>{{userInfo.latitude}}</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="pin"></ion-icon>
        <ion-label>{{userInfo.longitude}}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>
